
<div class="jumbotron">
	<h1>About us</h1>
	<p>We are working on our One Month Rails Pinteresting app. It's going to turn into a great web app called MindHive. Stay tuned!</p>
	<br>
	<p>Want to be the first to know when we go live? <%= link_to "Yes, please let me know!", "#", class: "btn btn-primary btn-lg" %>.</p>
</div>